<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement">
    <databases>
      <!-- preview -->
      <database id="preview" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/catalogProvider" />
          <dataProvider ref="dataProviders/workflowProvider" />
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>