<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="ContentManagement">
    <setting name="XA.Foundation.Multisite.Environment" value="PREVIEW" role:require="ContentManagement" />
  </sitecore>
</configuration>