<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement" search:require="solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes role:require="Standalone or ContentManagement" hint="list:AddIndex">
          <index id="sitecore_preview_index">
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/sellableItemsIntervalAsynchronousStrategyPreview" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/categoriesIntervalAsynchronousStrategyPreview" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/catalogsIntervalAsynchronousStrategyPreview" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Catalogs</ListName>
                <IndexListName>CatalogsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatShops</environment>
                </Environments>
                <Database>preview</Database>
              </crawler>
              <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Commerce.Engine.Connect">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Categories</ListName>
                <IndexListName>CategoriesIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatShops</environment>
                </Environments>
                <Database>preview</Database>
              </crawler>
              <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Commerce.Engine.Connect">
                <ItemsToTake>100</ItemsToTake>
                <ListName>SellableItems</ListName>
                <IndexListName>SellableItemsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatShops</environment>
                </Environments>
                <Database>preview</Database>
              </crawler>
            </locations>
          </index>
          <index id="sitecore_sxa_preview_index">
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/sellableItemsIntervalAsynchronousStrategyPreview" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/categoriesIntervalAsynchronousStrategyPreview" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/catalogsIntervalAsynchronousStrategyPreview" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Catalogs</ListName>
                <IndexListName>CatalogsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatShops</environment>
                </Environments>
                <Database>preview</Database>
              </crawler>
              <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Commerce.Engine.Connect">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Categories</ListName>
                <IndexListName>CategoriesIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatShops</environment>
                </Environments>
                <Database>preview</Database>
              </crawler>
              <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Commerce.Engine.Connect">
                <ItemsToTake>100</ItemsToTake>
                <ListName>SellableItems</ListName>
                <IndexListName>SellableItemsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatShops</environment>
                </Environments>
                <Database>preview</Database>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
