<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <indexing.getChildrenToIndex>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.GetChildrenToIndex, Sitecore.Commerce.Engine.Connect">
          <Indexes hint="list:AddString">
            <IndexName role:require="Standalone or ContentManagement">sitecore_preview_index</IndexName>
            <IndexName role:require="Standalone or ContentManagement">sitecore_sxa_master_index</IndexName>
            <IndexName>sitecore_sxa_web_index</IndexName>
            <IndexName role:require="Standalone or ContentManagement">sitecore_sxa_preview_index</IndexName>
          </Indexes>
        </processor>
      </indexing.getChildrenToIndex>
    </pipelines>
  </sitecore>
</configuration>